@using Aspire.Demo.Web.Components.Layout
@using Microsoft.AspNetCore.Authorization
@using System.ComponentModel.DataAnnotations

@page "/login"
@layout AuthLayout
@attribute [AllowAnonymous]

@inject NavigationManager _navigation;

<EditForm method="post" Model="LoginForm" OnValidSubmit="PerformLogin" FormName="Login">
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="Email">Email address</label>
        <InputText @bind-Value="LoginForm.Email"></InputText>

    </div>
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="Password">Password</label>
        <InputText @bind-Value="LoginForm.Password"></InputText>
    </div>
    <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">Sign in</button>
</EditForm>

@code {

    [SupplyParameterFromForm] public LoginModel LoginForm { get; set; } = new();

    public async Task PerformLogin(EditContext editContext)
    {
        _navigation.NavigateTo("/");
    }


    public class LoginModel
    {
        [Required]
        [EmailAddress]
        [Display(Name = "Email")]
        public string Email { get; set; } = string.Empty;

        [Required]
        [DataType(DataType.Password)]
        [Display(Name = "Password")]
        public string Password { get; set; } = string.Empty;
    }

}