@using Microsoft.AspNetCore.Authorization

@inherits LayoutComponentBase
@attribute [AllowAnonymous]



<div class="container">
  <div class="row">
    <div class="col-sm">
       @Body
    </div>
  </div>
</div>


@code {

}